<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component
        Id="MarkdownFileIconRegistry"
        Guid="{1ABC2FD4-E95A-410F-9958-7CCB54449483}"
        Win64="yes"
      >
        <RegistryValue
          Id="MarkdownMdDefaultIcon"
          Root="HKCR"
          Key="MarkText.md\DefaultIcon"
          Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0"
          Type="string"
          KeyPath="yes"
        />
        <RegistryValue Id="MarkdownMarkdownDefaultIcon" Root="HKCR" Key="MarkText.markdown\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMkdDefaultIcon" Root="HKCR" Key="MarkText.mkd\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMdownDefaultIcon" Root="HKCR" Key="MarkText.mdown\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMkdnDefaultIcon" Root="HKCR" Key="MarkText.mkdn\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMdtxtDefaultIcon" Root="HKCR" Key="MarkText.mdtxt\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownMdtextDefaultIcon" Root="HKCR" Key="MarkText.mdtext\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownApplicationFriendlyName" Root="HKCR" Key="Applications\marktext-rs.exe" Name="FriendlyAppName" Value="MarkText" Type="string" />
        <RegistryValue Id="MarkdownApplicationDefaultIcon" Root="HKCR" Key="Applications\marktext-rs.exe\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" />
        <RegistryValue Id="MarkdownApplicationOpenCommand" Root="HKCR" Key="Applications\marktext-rs.exe\shell\open\command" Value="&quot;[INSTALLDIR]marktext-rs.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMd" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".md" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMarkdown" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".markdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMkd" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".mkd" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMdown" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".mdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMkdn" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".mkdn" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMdtxt" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".mdtxt" Value="" Type="string" />
        <RegistryValue Id="MarkdownApplicationSupportsMdtext" Root="HKCR" Key="Applications\marktext-rs.exe\SupportedTypes" Name=".mdtext" Value="" Type="string" />
      </Component>
      <!--
        A previous installer can leave a per-user Applications ProgID behind.
        HKCU overrides the machine-wide HKCR entry, so update the installing
        user's registration too and repair stale Program Files/LocalAppData paths.
      -->
      <Component
        Id="MarkdownCurrentUserApplicationRegistration"
        Guid="{0BCAF392-A693-4A5A-8D52-878145BB3730}"
        Win64="yes"
      >
        <RegistryValue Id="MarkdownCurrentUserApplicationFriendlyName" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe" Name="FriendlyAppName" Value="MarkText" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationDefaultIcon" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\DefaultIcon" Value="&quot;[INSTALLDIR]icons\md.ico&quot;,0" Type="string" KeyPath="yes" />
        <RegistryValue Id="MarkdownCurrentUserApplicationOpenCommand" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\shell\open\command" Value="&quot;[INSTALLDIR]marktext-rs.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMd" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".md" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMarkdown" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".markdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMkd" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".mkd" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMdown" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".mdown" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMkdn" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".mkdn" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMdtxt" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".mdtxt" Value="" Type="string" />
        <RegistryValue Id="MarkdownCurrentUserApplicationSupportsMdtext" Root="HKCU" Key="Software\Classes\Applications\marktext-rs.exe\SupportedTypes" Name=".mdtext" Value="" Type="string" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
